/**
 *  Author     : Dr. Susan Lauer   sdlauer@gmail.com
 */
ul, li { list-style: none; margin: 0; padding: 0; }
ul { padding-left: 3em; }
li { padding-left: 3em;
  border: 3px dotted black;
  border-width: 0 0 3px 3px; 
}
li.container { border-bottom: 0px; }
li.empty { font-style: italic;
  color: silver;
  border-color: silver;
}
li p { margin: 0;
  background: white;
  position: relative;
  top: 0.5em; 
}
li ul { 
  border-top: 8px solid green; 
  margin-left: 5em;     
  padding-left: 2em; 
}
ul li:last-child ul {
  border-left: 1px solid white;
  margin-left: -17px;
}
